.Nav {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  color: white;
  background-image: linear-gradient(0deg, #ff7abe, #ff9770);
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.1), 5px 0 5px rgba(0, 0, 0, 0.2);
}
.Nav > div {
  margin: 0 0 45px;
}
.nav_profile_container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav_profile_pic {
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px #333;
}
.nav_links {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav_img {
  width: 40px;
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 30px;
}