.Dash {
  width: 70%;
  /* background-color: white; */
  margin: 0 auto;
}
.dash_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.dash_search_box {
  display: flex;
  width: 75%;
}
.dash_search_bar {
  height: 25px;
  width: 90%;
}
.dash_search_button {
  height: 25px;
  width: 25px;
  background-color: #ff9770;
  border-radius: 2px;
  padding: 2px;
}
.dash_check_box {
  display: flex;
  justify-content: space-around;
}

.dash_post_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.dash_post_box > h3 {
  font-size: 30px;
}
.dash_post_author_box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
}
.dash_post_author_box > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 0 5px;
}
