.Auth {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.auth_container {
  border-radius: 8px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
  background-image: linear-gradient(97deg, #ff7a6e, #Ffd670);
  width: 35vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.auth_title {
  font-size: 80px;
  font-weight: 700;
}

.auth_input_box {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.auth_input_box > input:focus {
  outline-color: #ff9770;
  outline-width: 5px;
}

.auth_button_container {
  display: flex;
  justify-content: space-around;
  width: 55%;
}